<%= stylesheet_link_tag 'notifications', :media => "all" %>
<% visitor = notification.visitor %>
<div class="user-view clearfix ">
  <%= notification_form(notification) %>
  <span class="moderate-font">
    <%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
  </span>
  <br>
  <% if !@comment.nil?  %>
    <p class="moderate-font text-center" style="color: black;"></p>
  <% end %>
  <% if !@board.nil? %>
    <p class="moderate-font text-center" style="color: black;"></p>
  <% end %>
  <% if !@message.nil? %>
    <p class="moderate-font text-center" style="color: black;"></p>
  <% end %>
  <hr>
</div>
