<%= stylesheet_link_tag 'login', :media => "all" %>
<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>
</div>

