<%= stylesheet_link_tag 'login', :media => "all" %>
<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>
  <div class="menu-content">
    <ul>
      <li><%= link_to "ゲストログイン", users_guest_sign_in_path, {method: :post, class: 'loginbtn'} %></li>
      <li><%= link_to "ログイン", new_user_session_path, {method: :post,class: 'loginbtn'} %></li>
      <li><%= link_to "新規登録", new_user_registration_path, {method: :get, class: 'newbtn'} %></li>
    </ul>
  </div>
</div>
