/*================= 新規登録 ==================*/
.login-page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.create-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 60px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
}
.field {
  margin:10px 5px;
}
.condition {
  color: white;
  border: solid 3px #FF69A3;
  border-radius: 5px;
  background-color: #FF69A3;
  font-size:14px;
}
.actions {
  margin:20px 15px;
}
.create-btn {
  color: white;
  background-color: #6495ED;
  border-radius: 5px;
  width: 200px;
  font-size:16px;
}
.newaction-btn {
  color: #6495ED;
  text-decoration: none;
}
/*================= ログイン ==================*/
.login-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 60px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
}
.action-btn {
  color: white;
  background-color: #6495ED;
  border-radius: 5px;
  width: 180px;
  font-size:16px;
}
.newaction-btn {
  color: #6495ED;
  text-decoration: none;
}
/*================= ユーザー情報編集 ==================*/
.edit-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 60px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
}
.update-btn {
  color: white;
  background-color: #6495ED;
  border-radius: 5px;
  width: 200px;
  font-size:16px;
}

.back-btn1 {
  color: white;
  text-decoration: none;
  background-color: #6495ED;
  border-radius: 5px;
  width: 200px;
  font-size:16px;
}

/*================= ゲスト・新規ログイン ==================*/
.btn-burger {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.icon, .icon:before, .icon:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 35px;
  background-color: #444;
  border-radius: 2px;
  display: block;
  content: '';
  cursor: pointer;
  margin: auto;
}
.icon:before {
  top: 20px;
}
.icon:after {
  top: -20px;
}
.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ .btn-burger .icon {
  background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
  transform: rotate(45deg);
  top: 0;
}
.icon,
.icon:before,
.icon:after {
  transition: all .8s;
}
.nav {
  background-color: #ffffff;
}
.nav-list a {
    display: block;
    text-decoration: none;
    color: #333366;
}
.nav-list {
    list-style: none;
    display: none;
    margin: 0;
    padding-left: 20px;
}
.nav-list li {
    margin: 0;
    padding: 10px;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: block;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;  /*768px以上では使用しない */
  }
  .nav-toggle:checked ~ .nav .nav-list {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 10px;
  }
  .nav-list li:not(:last-child) {
    border-right: 1px solid #fff;
  }
}

/*================= アカウント詳細画面 ==================*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.user-nav-pc {
  height: 60vh;
  width: 20%;
  box-sizing: border-box;
  padding: 30px 15px;
}
.active1 {
  border-right: 3px solid #000066;
  padding: 10px;
}
ul {
  list-style: none;
}
.account-btn {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.account-btn {
  color: #000066;
}
.account-box {
  width: 45%;
  hight: aito;
  text-align: left;
  padding: 24px;
  margin: 60px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
  position: relative;
}
.account-main {
  position: absolute;
  left: 40%;
  top: 10px;
  margin: 10px 0px;
}
.showMain {
  margin: 10px 5px;
}
.show-main {
  margin: 25px 5px;
}
.line {
  border-top: 2px dotted #8c8b8b;
}
.show-title {
  font-weight: bold;
  font-size: 14px;
}
.my-name, .my-email, .my-password {
  position: absolute;
  left: 250px;
  font-size: 16px;
}
.my-password {
  font-size: 25px;
  letter-spacing: 0.12em;
}
.actions {
  margin:20px 15px;
}
.edit-btn {
  color: white;
  background-color: #6495ED;
  border-radius: 5px;
  width: 100px;
  font-size:18px;
  position: absolute;
  left: 40%;
}
/*================= アカウント編集画面 ==================*/
.edit-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 60px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
}
.update-btn {
  color: white;
  background-color: #6495ED;
  border-radius: 5px;
  width: 200px;
  font-size:16px;
}
.back-btn {
  color: white;
  text-decoration: none;
  background-color: #6495ED;
  border-radius: 5px;
  width: 200px;
  font-size:16px;
}
/*================= 投稿者情報 ==================*/
.line_profile {
  border-top: 2px dotted #8c8b8b;
}
.user-title {
  position: relative;
  font-size: 16px;
  left: 25%;
  font-weight: bold;
}
.user-name {
  position: relative;
  font-size: 16px;
  left: 40%;
}
.chatroom a {
  color: #ffffff;
  background-color: #6495ED;
  border-radius: 5px;
  position: relative;
  left: 35%;
  top: 10px;
  font-size: 15px;
  padding: 5px 20px;
}
.chatroom {
  color: #ffffff;
  background-color: #6495ED;
  border-radius: 5px;
  position: relative;
  left: 35%;
  top: 10px;
  font-size: 15px;
  padding: 5px 20px;
}
