.text-center{
  position: relative;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.nonNotifications {
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.user-view {
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.moderate-font {
  padding: 2px;
  color: black;
}
