* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

p {
  font-size: 13px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #252525;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}

/*=== 1.COMMON ===*/
.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 9px 0;
  outline: 0 !important;
}
@media (min-width: 480px) {
  .btn {
    font-size: 15px;
    padding: 13px 0;
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: 12px;
    padding: 8px 0;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: 14px;
    padding: 12px 0;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 15px;
    padding: 13px 0;
  }
}

.main-wrapper {
  position: relative;
}

a {
  color: #d9d9d9;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: #a7a7a7;
  outline: 0;
}

/*================= 2. HOME ==================*/
/*=== 2.1 HEADER ===*/
header {
  background-color: #ffffff;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}
.topBar {
  width: 100%;
  display: block;
  min-height: 35px;
  height: auto;
  background-color: rgba(255,255,255,0.8);
}
.logo {
  width: 200px;
  margin: 5px;
}

/*=== 2.2 FOOTER ===*/
footer {
  display: block;
  max-width: 100%;
  padding: 45px 0;
  background-color: #000066;
  position: relative;
}
@media (max-width: 479px) {
  footer {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (min-width: 480px) {
  footer {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  footer {
    text-align: left;
    margin-bottom: 0;
  }
}
.footer {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*=== TOP PAGE ===*/
.main_pic {
  background-image: url(/assets/imag_cover_top.jpg);
  background-size: cover;
  max-width: 100%;
  height: 680px;
  background-position:center center;
  position: relative;
}
.main_nav {
  position: absolute;
  top: 90px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.nav_link {
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  justify-content: center;
  padding-right: 20px;
  padding-left: 100px;
}
.nav_menu {
  color: #778899;
  font-size: 16px;
}
.main_page {
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}
.title h2 p{
  padding: 30px 0px ;
  text-align: center;
}
.title p {
  font-size: 14px;
}
.menu_btn {
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}
.btn_link {
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  justify-content: center;
  padding-right: 20px;
  padding-left: 100px;
}
.btn-default {
  color: black;
  background-color: #FFCC66;
  border-radius: 25px;
  width: 180px;
}
.sub_page {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}
.dog_number_box {
  width: 20%;
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px;
}
.dog_number_box h3 {
  padding: 3px;
}
.finderPage {
  width: 100%;
  position:relative;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.finderBox_protectionarea h4 {
  margin: 15px;
}
.finderBox_sightarea h4 {
  margin: 15px;
}
.form-control {
  margin: 2px;
}
